.podcast-image{
    border: 3px solid #4267B2;
    width: 100%
}

.podcast-card{
    margin-right: 10px;
    margin-bottom: 35px;
}

.ant-carousel .slick-dots li.slick-active button,
.ant-carousel .slick-dots li button{
    background: #4267B2;
}

.podcast-details > h3,
.podcast-details > h2{
    margin-bottom: 0px;
}

.podcast-details > h2{
    font-size: 1.1em;
}
.podcast-details > h3{
    font-size: 0.8em;
}

h1{
    text-align: center;
    color: #4267B2;
    border-bottom: 3px solid #4267B2;
    width:100%;
    font-size: 2em;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover{
    background-color: white;
    color: #4267B2
}